DISCORD_TOKEN=''
DISCORD_PUBLIC_KEY='' # 親Lambda(Factorio_Interactions)の署名検証で使用
API_URL='https://xxxx.execute-api...'
INSTANCE_ID='i-0xxxxxxxxxxxx'
APP_ID='Application ID Of Discord Developer Portal'
GUILD_ID='Discord Server ID'