DISCORD_TOKEN=''
APP_ID='Application ID Of Discord Developer Portal'
GUILD_ID='Discord Server ID'

# AWS Sync Settings
AWS_REGION='ap-northeast-1'
AWS_ACCESS_KEY_ID='YOUR_AWS_ACCESS_KEY_ID'
AWS_SECRET_ACCESS_KEY='YOUR_AWS_SECRET_ACCESS_KEY'
AWS_SESSION_TOKEN='' # 一時認証情報を使用する場合のみ
DISCORD_WEBHOOK_URL='https://discord.com/api/webhooks/...'
# RCON_PASSWORD='' # 必要に応じて設定