{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "SSMParameterControl",
            "Effect": "Allow",
            "Action": [
                "ssm:PutParameter"
            ],
            "Resource": [
                "arn:aws:ssm:<REGION>:<ACCOUNT_ID>:parameter/factorio/RCON_PASSWORD",
                "arn:aws:ssm:<REGION>:<ACCOUNT_ID>:parameter/factorio/DISCORD_WEBHOOK_URL"
            ]
        }
    ]
}