{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "S3BucketManagement",
            "Effect": "Allow",
            "Action": [
                "s3:CreateBucket",
                "s3:PutBucketVersioning",
                "s3:GetBucketLocation",
                "s3:ListBucket",
                "s3:DeleteBucket"
            ],
            "Resource": [
                "arn:aws:s3:::factorio-*"
            ]
        },
        {
            "Sid": "DynamoDBTableManagement",
            "Effect": "Allow",
            "Action": [
                "dynamodb:CreateTable",
                "dynamodb:DescribeTable",
                "dynamodb:PutItem",
                "dynamodb:DeleteItem",
                "dynamodb:DeleteTable"
            ],
            "Resource": [
                "arn:aws:dynamodb:<REGION>:<ACCOUNT_ID>:table/Factorio*"
            ]
        },
        {
            "Sid": "SSMParameterControl",
            "Effect": "Allow",
            "Action": [
                "ssm:PutParameter",
                "ssm:GetParametersByPath",
                "ssm:DeleteParameters"
            ],
            "Resource": [
                "arn:aws:ssm:<REGION>:<ACCOUNT_ID>:parameter<SSM_PARAMETER_PATH>*"
            ]
        }
        ,
        {
            "Sid": "AllowLambdaManagementForTestingAndRefresh",
            "Effect": "Allow",
            "Action": [
                "lambda:CreateFunction",
                "lambda:DeleteFunction",
                "lambda:InvokeFunction",
                "lambda:GetFunction",
                "lambda:UpdateFunctionConfiguration",
                "lambda:GetFunctionConfiguration",
                "lambda:UpdateFunctionCode",
                "lambda:AddPermission",
                "lambda:RemovePermission"
            ],
            "Resource": [
                "arn:aws:lambda:<REGION>:<ACCOUNT_ID>:function:Factorio*"
            ]
        }
        ,
        {
            "Sid": "AllowLambdaLayerManagement",
            "Effect": "Allow",
            "Action": [
                "lambda:PublishLayerVersion",
                "lambda:ListLayerVersions",
                "lambda:DeleteLayerVersion",
                "lambda:GetLayerVersion"
            ],
            "Resource": "arn:aws:lambda:<REGION>:<ACCOUNT_ID>:layer:*"
        }
        ,
        {
            "Sid": "AllowIAMManagement",
            "Effect": "Allow",
            "Action": [
                "iam:GetPolicy",
                "iam:CreatePolicy",
                "iam:DeletePolicy",
                "iam:GetPolicyVersion",
                "iam:ListPolicyVersions",
                "iam:CreatePolicyVersion",
                "iam:DeletePolicyVersion",
                "iam:GetRole",
                "iam:CreateRole",
                "iam:DeleteRole",
                "iam:AttachRolePolicy",
                "iam:DetachRolePolicy",
                "iam:PutRolePolicy",
                "iam:DeleteRolePolicy"
            ],
            "Resource": [
                "arn:aws:iam::<ACCOUNT_ID>:policy/Factorio*",
                "arn:aws:iam::<ACCOUNT_ID>:role/Factorio*"
            ]
        },
        {
            "Sid": "EventBridgeManagement",
            "Effect": "Allow",
            "Action": [
                "events:PutRule",
                "events:DeleteRule",
                "events:DescribeRule",
                "events:PutTargets",
                "events:RemoveTargets",
                "scheduler:CreateSchedule",
                "scheduler:DeleteSchedule",
                "scheduler:GetSchedule",
                "scheduler:UpdateSchedule"
            ],
            "Resource": [
                "arn:aws:events:<REGION>:<ACCOUNT_ID>:rule/Factorio-*",
                "arn:aws:scheduler:<REGION>:<ACCOUNT_ID>:schedule/default/Factorio-*"
            ]
        },
        {
            "Sid": "IAMPassRole",
            "Effect": "Allow",
            "Action": "iam:PassRole",
            "Resource": [
                "arn:aws:iam::<ACCOUNT_ID>:role/FactorioLambdaRole*",
                "arn:aws:iam::<ACCOUNT_ID>:role/FactorioSchedulerRole*"
            ],
            "Condition": {
                "StringEquals": {
                    "iam:PassedToService": [
                        "lambda.amazonaws.com",
                        "scheduler.amazonaws.com"
                    ]
                }
            }
        }
    ]
}